---
layout: default
---

<body>
    <div align="middle">
        <img align="left" src="{{ site.baseurl }}assets/skull.gif" height=250px width=250px>

                    <h1 style="font-family: 'ohgodno';font-size: 300%;">Posts</h1>
                    
                    {% for post in site.posts limit:5 %}
                        <article>
                            <h4>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            <span>
                            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">({{ post.date | date_to_long_string }})</time>
                            </span>
                            </h4>
                        </article>
                    {% endfor %}
    </div>
    <br><br><br><br><br><br><br>
    <!-- BANNER -->
    <script>
        alphabet = new Array("A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0");
letter_count = 0;
el = $("#loading");
word = el.html().trim();
finished = false;

el.html("");
for (var i = 0; i < word.length; i++) {
  el.append("<span>"+word.charAt(i)+"</span>");
}

setTimeout(write, 75);
incrementer = setTimeout(inc, 1000);

function write() {
  for (var i = letter_count; i < word.length; i++) {
    var c = Math.floor(Math.random() * 36);
    $("span")[i].innerHTML = alphabet[c];
  }
  if (!finished) {
    setTimeout(write, 75);
  }
}

function inc() {
  $("span")[letter_count].innerHTML = word[letter_count];
  $("span:eq("+letter_count+")").addClass("glow");
  letter_count++;
  if (letter_count >= word.length) {
    finished = true;
    setTimeout(reset, 1500);
  } else {
    setTimeout(inc, 1000);
  }
}

function reset() {
  letter_count = 0;
  finished = false;
  setTimeout(inc, 1000);
  setTimeout(write, 75);
  $("span").removeClass("glow");
}
    </script>
    <style>
        body {
  background: #111;
  color: #411;
  font-family: Consolas, Courier, monospace;
  font-size: 60px;
  text-shadow: 0 0 15px #411;
  height: 100%;
}

div {
  position: relative;
  top: 50%;
  margin: -30px auto;
  text-align: center;
}

.glow {
  color: #f00;
  text-shadow: 0px 0px 10px #f00;
}

span {
  display: inline-block;
  padding: 0 10px;
}
    </style>
    <div id="loading"> LOADING</div>
<!-- BANNER -->
    <div align="left">
    <hr>
    </div>

    <ul>
        {% for post in paginator.posts %}
        <li>
            <h2 style="font-family: 'ohgodno';font-size: 300%;"><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            <p>{{ post.content | strip_html | truncatewords:20 }}</p>
        </li>
        {% endfor %}
    </ul>
</body>