---
layout: default
---

<body>
    <div align="middle">
        <img align="left" src="{{ site.baseurl }}assets/skull.gif" height=250px width=250px>

                    <h1 style="font-family: 'ohgodno';font-size: 300%;">Posts</h1>
                    
                    {% for post in site.posts limit:5 %}
                        <article>
                            <h4>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            <span>
                            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">({{ post.date | date_to_long_string }})</time>
                            </span>
                            </h4>
                        </article>
                    {% endfor %}
    </div>
    <br><br><br><br><br><br><br>
<!-- BANNER -->
<p class="text" data-text="Amongus you sussy wussy baka"></p>
    <script>
       var printText = $('.text').data('text');
    
    var contentArray = printText.split('/n');
    $.each(contentArray, function(index, newLine) {
      $('.text').append('<span id="joebiden" style="display:block;" id="'+index+'"></span>');
    
      var lineID = index;
      var self = $(this);
        setTimeout(function () {
          $.each(self, function(index, chunk){
              setTimeout(function () {
                $('#'+lineID).append("<span id='joebiden'>"+chunk+"</span>");
                $('body, html').scrollTop($(document).height());
              }, index*5);
          });
    
        }, index*100);
    }); 
    </script>
    <style>
        #joebiden {
  min-width: 5px;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85em;
  letter-spacing: 1.5px;
  color: #FFF;
}




.text {
  overflow: hidden;
  height: auto;
}

    </style>
<!-- BANNER END -->
    <div align="left">
    <hr>
    </div>

    <ul>
        {% for post in paginator.posts %}
        <li>
            <h2 style="font-family: 'ohgodno';font-size: 300%;"><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            <p>{{ post.content | strip_html | truncatewords:20 }}</p>
        </li>
        {% endfor %}
    </ul>
</body>