<a href="{{ "/writeups" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';">Writeups</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';">RSS</h2></a>
