<a href="{{ "/writeups" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./Writeups</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./About</h2></a>
<a href="{{ "/travels" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./Travels</h2></a>
<a href="{{ "/trophies" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./Trophies</h2></a>
<a href="{{ "/secret" | prepend: site.baseurl | replace: '//', '/'}}"><h2 class="header-link" style="font-family: 'ohgodno';font-size: 150%;">./GITHUB</h2></a>
